header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
}